<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
</div>
<div class="text-justify">
  {{#each comments}}
  <p>{{comment_text}}</p>
  <h4>{{format_date date_created}}  {{user_id}}</h4>
  {{else}}
  <p>No Comments yet</p>
  {{/each}}
</div>